body {
    margin: 0 auto;
    max-width: 960px;
}

header {
    position: relative;
}

#content {
  padding-left: 30px;
  margin-top: 50px;
}

.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}

.Flipcard {
  width: 100%;
}

.Flipcard-front, Flipcard-back {
  width: 100%;
}

.flip {
  /* right: -80px; */
  /* padding: 50px 100px; */
  /* position: absolute; */
  /* top: 0px; */
  /* border-radius: 10px; */
  /* transform: rotate(270deg); */
  /* border: 1px solid #ccc; */
}

.Flipcard-flipper {
  display: flex;
  transform: none !important;
  min-width: 300px;
}

@media (min-width: 750px) {
  /* Use the flipper as a Flexbox container: */
  .Flipcard-flipper {
    display: flex;
    transform: none !important;
    min-width: 500px;
  }

  .min-width-500 {
    min-width: 500px;
  }
}
