body {
    margin: 0 auto;
    max-width: 960px;
    padding: 0px 30px;
    min-width: 960px;
}

header {
    position: relative;
}

#content {
  padding-left: 30px;
  margin-top: 50px;
}

.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}
